{% extends 'subLayout.html.twig' %}

{% block title %}Ruangan{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <center>Input Data Ruangan</center>
                        </h2>
                    </div>
                    <div class="body">
                        <form method="post">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" name="nama_ruangan" id="" class="form-control">
                                    <label class="form-label">Nama Ruangan</label>
                                </div>
                            </div>
                            <button class="btn btn-primary waves-effect">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}