{% extends 'subLayout.html.twig' %}

{% block title %}Penjamin{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <center>Daftar Seluruh Penjamin</center>
                        </h2>
                    </div>
                    <div class="body">
                        <table class="table table-bordered table-striped table-hove js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Nama Penjamin</th>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <th>Aksi</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                            {% if data|length > 0 %}
                            {% set i = 1 %}
                                {% for dat in data %}
                                    <tr>
                                        <td>{{ i }}</td>
                                        <td>{% if dat.namaPenjamin is not null %}{{ dat.namaPenjamin }}{% endif %}</td>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <td>
                                                <a title="Update data penjamin" href="{{ path('app_admin_update_penjamin',{id: dat.id}) }}" class="btn btn-primary btn-xs">EDIT</a>
                                                <a title="Delete data penjamin" href="{{ path('app_admin_delete_penjamin',{id: dat.id}) }}" class="btn btn-danger btn-xs">DELETE</a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {% set i = i + 1 %}
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="3"><center>Tidak ada data</center></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block customJS %}
    <script>
        $('.dataTable').dataTable({

        });
    </script>
{% endblock %}