{% extends 'subLayout.html.twig' %}

{% block title %}Diagnosa{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <center>Input Data Diagnosa</center>
                    </h2>
                </div>
                <div class="body">
                    <form method="post">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" name="nama_diagnosa" id="" class="form-control">
                                <label class="form-label">Nama Diagnosa</label>
                            </div>
                            <button class="btn btn-primary waves-effect">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div
{% endblock %}