{% extends 'subLayout.html.twig' %}

{% block title %}Diagnosa{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <center>Update data diagnosa</center>
                        </h2>
                    </div>
                    <div class="body">
                        <form method="post">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="diagnosa" id="" class="form-control" value="{% if data.namaDiagnosa is not null %}{{ data.namaDiagnosa }}{% endif %}">
                                    <label for="label form-label">Nama Diagnosa</label>
                                </div>
                            </div>
                            <buttton class="btn btn-primary waves-effect">SUBMIT</buttton>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}